<div class="screen-login">
  
    <div class="login-hero">
      <div class="login-hero-text">
        <h1>Sabores<br>compartidos</h1>
        <p>Un recetario hecho entre todos</p>
      </div>
    </div>
  
    <div class="login-form">
      <h2>Bienvenido</h2>
      <p class="subtitle">Regístrate para continuar</p>

      <div class="error-container" *ngIf="errorMessage" style="color: #C4622D; font-size: 13px; font-weight: 700; margin-bottom: 12px; text-align: center;">
        {{ errorMessage }}
      </div>
      
        <div class="field-group">
      <label class="field-label">Correo electrónico</label>
      <input 
        class="field-input" 
        type="email" 
        name="correo"
        [(ngModel)]="correo"
        (input)="correo = $any($event.target).value"
        placeholder="tu@correo.com" />
    </div>

    <div class="field-group">
      <label class="field-label">Contraseña</label>
      <input 
        class="field-input" 
        type="password" 
        name="contrasena"
        [(ngModel)]="contrasena"
        (input)="contrasena = $any($event.target).value"
        placeholder="****************" />
    </div>

    <div class="field-group">
      <label class="field-label">Confirmar contraseña</label>
      <input 
        class="field-input" 
        type="password" 
        name="confirmar_contrasena"
        [(ngModel)]="confirmar_contrasena"
        (input)="confirmar_contrasena = $any($event.target).value"
        placeholder="****************" />
    </div>
      
      <div class="remember-row">
        <div class="remember-check">
          <div class="check-box" [class.checked]="isRemembered" (click)="toggleRemember()"></div>
          <label (click)="toggleRemember()" style="cursor: pointer;">Mantener sesión iniciada</label>
        </div>
      </div>
      
      <button class="btn-primary" (click)="onRegisterSubmit()">Registrarse</button>
  
      <div class="switch-auth">
        ¿Ya tienes cuenta? <span (click)="volverAlLogin()">Inicia sesión</span>
      </div>
    </div>
  
</div>