<mat-card class="card" appearance="outlined" (click)="verDetalle()">

  <mat-card-header class="card-header">

    <mat-card-actions class="card-actions">
      <button matIconButton class="star-button" (click)="$event.stopPropagation()">
        <mat-icon aria-hidden="false" aria-label="star" fontIcon="star"></mat-icon>
      </button>
    </mat-card-actions>

    <img mat-card-image class="imagen-receta"
      [src]="receta.imagen_url || imagenDefault"
      alt="Imagen de la receta">

  </mat-card-header>

  <mat-card-content class="card-content">
    <mat-card-title>{{ receta.titulo }}</mat-card-title>
    <mat-card-subtitle>{{ receta.autor_nombre }} | {{ tiempoRelativo() }}</mat-card-subtitle>

    <mat-chip-set class="card-chip-set" aria-label="información adicional">
      <mat-chip>
        {{ receta.dificultad }}
      </mat-chip>
      <mat-chip>
        <mat-icon aria-hidden="false" aria-label="tiempo" fontIcon="timer"></mat-icon>
        {{ receta.tiempo_aproximado }}
      </mat-chip>
      <mat-chip>
        <mat-icon aria-hidden="false" aria-label="porciones" fontIcon="people"></mat-icon>
        {{ receta.porciones }}
      </mat-chip>
    </mat-chip-set>

  </mat-card-content>

  <mat-card-footer class="card-footer">

    <mat-card-actions class="card-actions">
      <button matIconButton (click)="$event.stopPropagation()">
        <mat-icon aria-hidden="false" aria-label="me gusta" fontIcon="favorite"></mat-icon>
      </button>

      <button matIconButton (click)="irAComentarios($event)">
        <mat-icon aria-hidden="false" aria-label="comentario" fontIcon="comment"></mat-icon>
      </button>

      <button matIconButton (click)="$event.stopPropagation()">
        <mat-icon aria-hidden="false" aria-label="compartir" fontIcon="share"></mat-icon>
      </button>
    </mat-card-actions>

  </mat-card-footer>
</mat-card>